<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<head>
    <title>melaside</title>
</head>

<header class="w3-animate-top w3-bar w3-black">
    <nav sec:authorize="${!isAuthenticated()}" class="w3-bar w3-black">
    <a href="/" class="w3-button w3-bar-item">Главная страница</a>
    <a href="/book" class="w3-button w3-bar-item">Каталог</a>
    </nav>

    <nav sec:authorize="${isAuthenticated() && !hasRole('ADMIN')}" class="w3-bar w3-black">
        <a href="/" class="w3-button w3-bar-item">Главная страница</a>
        <a href="/book" class="w3-button w3-bar-item">Каталог</a>
        <a th:href="@{/user/{id}(id=${#authentication.getPrincipal().id})}" class="w3-button w3-bar-item">Кабинет</a>
        <a href="/order/my">Мои заказы</a>
    </nav>

    <nav sec:authorize="${isAuthenticated() && hasRole('ADMIN')}" class="w3-bar w3-black">
        <a href="/" class="w3-button w3-bar-item">Главная страница</a>
        <a href="/book" class="w3-button w3-bar-item">Каталог</a>
        <a th:href="@{/user/{id}(id=${#authentication.getPrincipal().id})}" class="w3-button w3-bar-item">Кабинет</a>
        <a href="/order/my" class="w3-button w3-bar-item">Заказы</a>
    </nav>
</header>
</body>
</html>