<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Страница книги</h2>
    <div th:object="${book}">
        <div th:if="${!#strings.isEmpty(book.getFileName())}">
            <img height="300px" th:src="@{/img/{filename}(filename = ${book.getFileName()})}"/>
        </div>
        <h4>Название книги</h4>
        <h3 th:text="*{title}"></h3>
        <h4>Описание книги</h4>
        <h4 th:text="*{description}"></h4>
        <div><a class="w3-button" th:href="@{/order/{id}(id = ${book.id})}">Оформить заказ</a> </div>
        <h4>Жанр книги</h4>
        <p th:text="*{getGenre().getName()}"></p>
        <h4>Автор книги</h4>
        <p th:text="*{getAuthor().getInitials()}"></p>
        <h4>Цена книги</h4>
        <p th:text="*{getPrice() + 'р'}"></p>
    </div>

    <div sec:authorize="${isAuthenticated() && hasRole('ADMIN')}">
        <a th:href="@{/book/delete/{id}(id = ${book.getId()})}">Удалить книгу</a>
    </div>

    <div sec:authorize="${isAuthenticated()}">
        <div th:if="${#lists.contains(books, book.getId())}">
        <a th:href="@{/book/unsubscribe/{id}(id=${book.getId()})}" class="w3-button">Убрать из избранного</a>
        </div>

        <div th:if="${!#lists.contains(books, book.getId())}">
            <a th:href="@{/book/subscribe/{id}(id=${book.getId()})}" class="w3-button">Добавить в избранное</a>
        </div>
    </div>

        <div>
            <p th:text="'Добавило в избранное' + ':' + ${book.getUsers().size()}"></p>
        </div>

    <form method="post">
        <input name="text" th:value="${text}" required/>
        <button type="submit">Добавить комментарий</button>
    </form>

    <table th:if="${!#lists.isEmpty(comments)}">
        <thead>
        <tr>
            <th scope="col">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td>
                <a class="w3-button" th:href="@{/user/{id}(id = ${comment.user.getId()})}" th:text="${comment.getUser().getUsername()}"></a>
                <h5 th:text="${comment.getMessage()}"></h5>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${comments.getTotalPages() > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/book/{id}(size = ${comments.getSize()}, page = ${pageNumber}, id = ${book.getId()})}"
           th:text="${pageNumber}"></a>
    </div>
</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>