<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Поиск книги</h2>
</section>

<section class="w3-container w3-center w3-content" style="max-width:600px">

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a class="w3-button" href="/book/new">Добавить книгу</a>
    </div>

    <div>
         <!-- <input type="text" id="filter"/> -->
    </div>

    <form action="/book">
        <input name="query" id="query" size="50" th:value="${query}"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Автор</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${books}">
        <td th:text="${book.getId()}"></td>
        <td>
            <a th:href="@{/book/{id}(id = ${book.getId()})}" th:text="${book.getTitle()}" />
        </td>
        <td th:text="${book.genre.getName()}"></td>
        <td th:text="${book.author.getInitials()}"></td>
        <td th:text="${book.getPrice()} + 'р'"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${books.getTotalPages() > 0 && books.getTotalPages() != 1}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/book(size = ${books.getSize()}, page = ${pageNumber})}"
           th:text="${pageNumber}"></a>
    </div>

</section>

<footer th:insert="fragments/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script th:inline="javascript">

    $(document).ready(
        function() {
            $('#filter').on('input', function(e) {
                $.get('/v1/api/table?q=' + e.target.value, updateTable)
            })

            function updateTable(data) {
                const content = data.map($ => '<tr><td>' + $.id + '</td><td><a href="book/' + $.id + '"</td>' + $.title + '</td><td>' + $.genre.name + '</td><td>' + $.author.initials + '</td><td>' + $.price + "р" + '</td></tr>');
                $('#tableBody').html(content);
            }

            $.get('/v1/api/table', updateTable)

            updateTable(data);
        }
    )
</script>

</body>

</html>