<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">BOOK FORM</h2>

    <div class="forms">

        <form method="post" th:object="${bookDto}">
            <label for="title">Enter Title</label>
            <div>
                <input type="text" class="w3-border-black" id="title" th:field="*{title}">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Not valid</span>
            </div>

            <label for="description">Enter Description</label>
            <div>
                <input type="text" class="w3-border-black" id=description th:field="*{description}">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Not Valid</span>
            </div>

            <label for="description">Enter Author</label>
            <div>
                <input type="text" class="w3-border-black" id=authorSelect th:field="*{description}">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Not Valid</span>
            </div>
            <select th:field="*{authorId}" class="form-select mb-3" aria-label=".form-select-lg example">
                <option th:value="-1">-- Новый автор --</option>
                ></option>
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:text="${author.firstname}"
                        th:text="${author.lastname}"
                ></option>
            </select>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>