<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Страница книги</h2>
    <div th:object="${book}">
        <div th:if="${!#strings.isEmpty(book.getFileName())}">
            <img height="300px" th:src="@{/img/{filename}(filename = ${book.getFileName()})}"/>
        </div>
        <h3 th:text="*{title}"></h3>
        <h4 th:text="*{description}"></h4>
        <h4>Жанр книги</h4>
        <p th:text="*{getGenre().getName()}"></p>
        <h4>Автор книги</h4>
        <p th:text="*{getAuthor().getInitials()}"></p>
        <h4>Цена книги</h4>
        <p th:text="*{getPrice() + 'р'}"></p>

    </div>

    <table th:if="${!#lists.isEmpty(comments)}">
        <thead>
        <tr>
            <th scope="col">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td>
                <a class="w3-button" th:href="@{/user/{id}(id = ${comment.getUser().getId()})}" th:text="${comment.getUser().getUsername()}"></a>
                <h5 th:text="${comment.getMessage()}"></h5>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <p th:text="${book.getUsers().size()}"></p>
    </div>

    <div th:if="${comments.getTotalPages() > 0 && comments.getTotalPages() != 1}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/book/{id}(size = ${comments.getSize()}, page = ${pageNumber}, id = ${book.getId()})}"
           th:text="${pageNumber}"></a>
    </div>

</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>