<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>


<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Book Page</h2>
    <div th:object="${book}">
        <h3 th:text="${book.title}"></h3>
        <h4 th:text="${book.description}"></h4>
        <a th:href="@{/book/subscribe/{id}(id=${book.id})}" class="w3-button">Sub</a>
    </div>
</section>

<section class="w3-container w3-center w3-content" style="max-width:600px">

</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>