<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">User's Cabinet</h2>
    <div>
        <h3 th:text="${username}"></h3>
    </div>

    <div>
        <h4>User's Favorites Books:</h4>
    </div>
    <div th:each="book : ${books}">
        <a class="w3-button" th:text="${book.title}" th:href="@{/book/{id}(id=${book.id})}"></a>
    </div>
        <h4>User's avatar:</h4>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Load</button>
    </form>
    <div>
        <img th:src="@{/img/${user.filename}}"/>
    </div>
</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>