<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>

<body>

<header th:replace="fragments/header :: header"></header>

<div sec:authorize="${!isAuthenticated()}">
    <section class="w3-container w3-center w3-content" style="max-width:600px">
        <h2 class="w3-wide">Главная страница</h2>
        <p class="w3-justify"></p>
        <h3> <a th:href="@{/login}" class="w3-button">Авторизация</a></h3>
        <h3> <a th:href="@{/user/new}" class="w3-button">Регистрация</a></h3>
    </section>
</div>

<div sec:authorize="${isAuthenticated()}">
    <section class="w3-container w3-center w3-content" style="max-width:600px">
        <h2 class="w3-wide">Главная страница</h2>
        <h3 id="greetings"></h3>
        <h3 th:text="${#authentication.getName()}"></h3>
        <h3> <a href="/logout" class="w3-button">Выйти</a></h3>
    </section>
</div>

<div id="members" class="w3-container w3-padding-32">
    <h2 class="w3-center">Наши книги</h2>
    <div class="w3-row w3-center">

        <div class="w3-third" th:if="${!#strings.isEmpty(firstBook.getFileName())}">
            <a th:href="@{/book/{id}(id = ${firstBook.getId()})}"><img th:src="${firstBook.getFileName()}" alt="Name2" style="width:60%"></a>
        </div>

        <div class="w3-third" th:if="${!#strings.isEmpty(secondBook.getFileName())}">
            <a th:href="@{/book/{id}(id = ${secondBook.getId()})}"><img th:src="${secondBook.getFileName()}" alt="Name2" style="width:60%"></a>
        </div>

        <div class="w3-third" th:if="${!#strings.isEmpty(thirdBook.getFileName())}">
            <a th:href="@{/book/{id}(id = ${thirdBook.getId()})}"><img th:src="${thirdBook.getFileName()}" alt="Name2" style="width:60%"></a>
        </div>

    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
<script>
    var data = [
            [0, 4, "Доброй ночи,"],
            [5, 11, "Доброе утро,"],
            [12, 17, "Добрый день,"],
            [18, 24, "Добрый вечер,"]
        ],
        hr = new Date().getHours();

    for(var i = 0; i < data.length; i++){
        if(hr >= data[i][0] && hr <= data[i][1]){
            document.getElementById("greetings").innerHTML = data[i][2];
        }
    }
</script>
</html>
