<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>melaside</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Авторизация</h2>
    <div th:if="${param.error}">
        Неправильный логин или пароль.
    </div>
    <div th:if="${param.logout}">
        Вы вышли.
    </div>
    <form th:action="@{/login}" method="post">
        <label for="username">Укажите никнейм</label>
        <div><input type="text" class="w3-border-black" id="username" name="username"/></div>

        <label for="password">Укажите пароль</label>
        <div><input type="password" class="w3-border-black" id="password" name="password"/></div>
        <button class="w3-button" type="submit">Авторизироваться</button>
    </form>
    <a th:href="@{/user/new}">Перейти к регистрации</a>
</section>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>